root {
    display: block;
}

.root {
    -fx-background-image: url("../images/bg_panelEdgeLeft.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

.label {
    -fx-font-size: 20px ;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #010101;
}

#pane {
    -fx-background-position: center;
    -fx-background-color: #3773C9;
    -fx-border-width: 100%;
    -fx-border-style: solid;
    -fx-border-color: #010101;
}

#welcome-text {
    -fx-font-size: 34px;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-text-fill: #05052d;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#grid-pane {
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#text-field {
    -fx-background-image: url("../images/text-field.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-size: 15px;
    -fx-font-family: Arial;
    -fx-border-width: 200%;
    -fx-border-color: #000000;
}

#play-button {
    -fx-background-image: url("../images/play-button.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: antiquewhite;
    -fx-border-width: 100%;
    -fx-border-color: #111010;
}