@font-face {
    src: url("../font/DalekPinpointBold.ttf");
}

#back {
    -fx-background-image: url("../images/welcome_background.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-height: 672px;
    -fx-pref-width: 1200px;
}

#playButton {
    -fx-background-image: url("../images/btn_blue.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#playButton:pressed {
    -fx-background-image: url("../images/btn_blue_pressed.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#submitButton {
    -fx-background-image: url("../images/btn_blue.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#chooseButton {
    -fx-background-image: url("../images/btn_blue.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#labelPlayers {
    -fx-padding: 200%;
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#chooseField {
    -fx-background-image:url("../images/blueField.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

#chooseButton:pressed {
    -fx-background-image: url("../images/btn_blue_pressed.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#submitButton:pressed {
    -fx-background-image: url("../images/btn_blue_pressed.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#textField {
    -fx-font-style: italic;
    -fx-text-alignment: center;
    -fx-opacity: 0.5;
}

#progressIndicator {
    -fx-progress-color: white;
}

#progressLabel {
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#statusLabel{
    -fx-font-family: "Dalek Pinpoint";
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}